[submodule "public"]
	path = public
	url = https://github.com/mabdulfazov/mabdulfazov.github.io.git
	branch = main
[submodule "p"]
	path = p
	url = https://github.com/mabdulfazov/1.git
	branch = main
[submodule "pub"]
	path = pub
	url = https://github.com/mabdulfazov/mabdulfazov.github.io.git
	branch = main
